.centerTab {
  position: relative;
  width: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.imageFilter {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.titleFilter {
  font-size: 13px;
  margin-left: 10px;
  font-weight: 500;
}

.allFilter {
  display: flex;
}

.keyword {
  margin-left: 10px;
  background-color: #f0f2f5;
  border-radius: 25px;
  font-size: 13px;
  height: 30px;
  padding-left: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.imageKeyword {
  width: 20px;
  height: 20px;
}

.postNew {
  margin-top: 20px;
  height: 100px;
  width: 600px;
  background-color: white;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.contentPostNew {
  display: flex;
  height: 50px;
  padding: 10px;
}

.newPost {
  background-color: white;
  width: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.contentNewPost {
  padding: 20px;
  border-top: 1px solid #f0f2f5;
}

.userNewPost {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menuNewPost {
  border: 2px solid rgb(0 0 0 / 20%);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.menuPostNew {
  display: flex;
  height: 40px;
  border-top: 1px solid #f0f2f5;
}

.newsfeedProfile {
  position: relative;
  top: 3px;
  left: 7px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.postNF {
  background-color: white;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%);
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.imagePostNF {
  width: 600px;
  height: 150px;
  object-fit: cover;
}

.contentNF {
  margin: 0 25px;
}

.titlePostNF {
  font-size: 13px;
  font-weight: bold;
}

.contentPostNF {
  font-size: 12px;
  font-weight: 500;
}

.hashtagPostNF {
  font-size: 13px;
  font-weight: bold;
}

.tourPostNF {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.infoTourPostNF {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}

.companyPostNF {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoCompanyPostNF {
  display: flex;
  gap: 10px;
}

.timePostNF {
  font-size: 10px;
  font-weight: 500;
}

.starPostNF {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.reactPostNF {
  margin: 5px 0 5px 40px;
  display: flex;
  justify-content: space-between;
}

.voteFramePostNF {
  display: flex;
}

.votePostNF {
  height: 15px;
}

.buttonMenuPostNF {
  margin: 0 -25px;
  display: flex;
  align-items: center;
  border-top: 1px solid #f0f2f5;
  border-bottom: 1px solid #f0f2f5;
}

.commentPostNF {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

.contentCommentPostNF {
  display: flex;
  align-items: center;
}

.contentCommentPostNF {
  font-size: 12px;
}

.reactCommentPostNF {
  width: 120px;
  display: flex;
  justify-content: space-around;
}

.childReactCommentPostNF {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.moreCommentPostNF {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
}

.tab-bar {
  margin-top: 20px;
  /* height: 100px; */
  width: 600px;
  background-color: white;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%);
  border-radius: 10px;
  display: flex;
  /* flex-direction: column; */
}

.tour-tab {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 10px;
}

.statistic-tab {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.field-title {
  font-weight: 500;
  margin-bottom: 10px;
}

/* .hot-tour-content {
  display: flex;
  gap: 20px;
} */

.hot-tour-content > div {
  background-color: white;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.statistic-content {
  background-color: white;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  row-gap: 3px;

  /* padding: 10px; */
}

.business-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  /* box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%); */
  padding-top: 70px;
  /* border-radius: 10px; */
}

.avatar {
  position: absolute;
  width: 150px;
  top: -100px;
}

.date-name,
.right-part {
  flex: 1;
}

.date-name {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.background {
  width: 600px;
  object-fit: contain;
}

.right-part {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* width: 40%; */
}
/* .left-part {
  display: flex;
  gap: 20px;
}

.left-part img {
  width: 150px;
} */

.review__profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bottom-part {
  padding: 10px;
  background-color: white;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.business-contact {
  display: flex;
  justify-content: space-between;
}

.business-contact > div {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex: 1;
  justify-content: space-between;
}

/* .business-contact > div:nth-child(2) {
  margin-left: auto;
} */

.business-contact strong {
  margin-right: 30px;
}

.follow {
  display: flex;
  gap: 20px;
}

.company-star {
  margin: 0;
}

.calendar {
  display: flex;
  gap: 20px;
}

.calendar img {
  width: 20px;
  height: 20px;
}

.box-info {
  margin: 50px 0;
}

.box-info p {
  text-align: center;
}

.box-info-content {
  display: flex;
  gap: 50px;
  border-radius: 10px;
  border: rgb(28, 92, 178) 7px solid;
  padding: 20px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 4px 8px rgb(0 0 0 / 10%);
}

.box-info-content > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.featured {
  margin-bottom: 50px;
}
