.standalone-contact {
  border-radius: 10px;
  background-color: white;
  margin-top: 10px;
  width: 20%;
  /* height: 230px; */
  /* position: fixed;
  z-index: 1; */
  /* margin-right: 150px; */
  height: fit-content;
}

.mainTitleRightTab {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  height: 50px;
}
