.tour-table-container {
  background-color: white;
  /* height: calc(100vh-50px); */
  width: 55%;
}

.tour-name-header {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(208, 204, 204);
  padding-left: 5%;
  gap: 15px;
}

.tour-table {
  /* height: 100%; */
  height: calc(100% - 60px);
  padding: 5%;
}

.table-wrapper {
  /* width: 100%; */
  height: 100%;
  background-color: #ebe8e8;
  box-shadow: 3px 6px 7px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  padding-bottom: 100px;
}

.table-name {
  display: flex;
  justify-content: flex-start;
  height: 50px;
}

.table-name div {
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  background-color: #90e0ef;
  font-size: larger;
}

.cellAction {
  display: flex;
  align-items: center;
  gap: 15px;
}
